body {
  font-family: Helvetica, "Times New Roman", Arial;
  color: #C0C0C0;
  background-color: #008080;
}

h1, h2, h3 {
 color: #DCDCDC;
 text-align: center;
}

hr {
 border-width: 5px;
 border-color: #000000;
}

a {
 color: #0000FF;
}

a:hover {
 color: #A52A2A;	
 text-decoration: underline;
}

a:visited {
 color: #DAA520	
}

header {
  height: 150px;
  background-color: #2F4F4F
}

footer {
  background-color: #2F4F4F
}



