body {
  font-family: Helvetica, "Times New Roman", Arial;
  color: #C0C0C0;
  background-color: #008080;
}

h1, h2, h3 {
 color: #808080;
}

hr {
 border-width: 10px;
 border-color: #000000	
}

a {
 color: #0000FF;
}

a:hover {
 color: #A52A2A;	
 text-decoration: underline;
}

a:visited {
 color: #DAA520	
}

